__pycache__/
.DS_Store
*checkpoint.ipynb

*.tif
*.jpg
*.txt
*.html
*.xml

*.png
!extraction.png
!timeseries.png

*.pkl
!NN_4classes_PS_NARRA.pkl
!CoastSat_PS_training_set_NARRA_50000.pkl

*.kml
!NARRA_polygon.kml

*.geojson
!NARRA_transects.geojson

*.csv
!NARRA_tides.csv

